{% extends "top-level.html" %}

<section class="tm-welcome">
    <div class="row">
        <div class="col-12" style="text-align: center">
            <h2 class="tm-section-header">Blog</h2>
        </div>
    </div>

    <div class="row tm-welcome-row">
        <ol style="list-style-type: none">
            {% include "partials/post-list.html" %}
            <!-- <%- posts.sort((first,
            second)=> { return first.date < second.date ? 1 : -1 }) .map(post=>
            ` -->
            {% for item in postListItems %}
            <li style="padding: 1rem">
                <a
                    href="../blog/${post.data.fileName.split('.')[0]}/"
                    style="font-size: 1.6rem"
                >
                    ${post.data.title}
                </a>
                <br />
                ${new Date(post.data.date).toDateString().slice(4)} -
                ${post.data.description}
            </li>
            {% endfor %}
        </ol>
    </div>
</section>
