<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Help Tibetan Nuns</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css?family=Langar|Open+Sans:400,800|Merriweather:wght@900&display=swap"
      rel="stylesheet"
    />
    <!-- https://fonts.google.com/specimen/Open+Sans?selection.family=Open+Sans -->
    <link href="/css/all.min.css" rel="stylesheet" />
    <!-- https://fontawesome.com/ -->
    <link href="/slick/slick.css" rel="stylesheet" />
    <!-- https://kenwheeler.github.io/slick/ -->
    <link href="/slick/slick-theme.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- https://getbootstrap.com -->
    <link href="/css/templatemo-new-vision.css" rel="stylesheet" />
    <script src="/js/instantpage.js" defer></script>
    <script src="/js/jquery-3.4.1.min.js" defer></script>
    <script src="/slick/slick.min.js" defer></script>
    <script src="/js/bootstrap.min.js" defer></script>
    <script src="/js/templatemo-script.js" defer></script>
  </head>

  <body>
    <div class="container-fluid">
      {% include "partials/header.html" %} {{ aboveMain | safe }}

      <main>{{ content | safe }}</main>

      <footer>
        <div id="mc_embed_signup">
          <form
            action="https://helptibetannuns.us2.list-manage.com/subscribe/post?u=c5b29e56ffa0eb7f4fdf5bed1&amp;id=a56a72b9b6"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate"
            target="_blank"
            novalidate
          >
            <div id="mc_embed_signup_scroll">
              <h2>Sign up for our email list</h2>
              <div class="mc-input-container">
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address </label>
                  <input
                    type="email"
                    value=""
                    name="EMAIL"
                    class="required email"
                    id="mce-EMAIL"
                  />
                </div>
                <div class="mc-field-group">
                  <label for="mce-FNAME">First Name </label>
                  <input
                    type="text"
                    value=""
                    name="FNAME"
                    class=""
                    id="mce-FNAME"
                  />
                </div>
                <div class="mc-field-group">
                  <label for="mce-LNAME">Last Name </label>
                  <input
                    type="text"
                    value=""
                    name="LNAME"
                    class=""
                    id="mce-LNAME"
                  />
                </div>
              </div>
              <div id="mce-responses" class="clear">
                <div
                  class="response"
                  id="mce-error-response"
                  style="display: none"
                ></div>
                <div
                  class="response"
                  id="mce-success-response"
                  style="display: none"
                ></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px" aria-hidden="true">
                <input
                  type="text"
                  name="b_c5b29e56ffa0eb7f4fdf5bed1_a56a72b9b6"
                  tabindex="-1"
                  value=""
                />
              </div>
              <div class="clear" id="mc-submit">
                <input
                  type="submit"
                  value="Subscribe"
                  name="subscribe"
                  id="mc-embedded-subscribe"
                  class="button"
                />
              </div>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->
        <img
          id="footer-painted-wood"
          src="/media/painted-wood-cropped-3.png"
          alt=""
        />

        <p>
          Copyright &copy; 2020 New Vision - Design:
          <a
            href="https://templatemo.com"
            rel="sponsored"
            target="_parent"
            title="css templates"
            >TemplateMo</a
          >
        </p>
      </footer>
    </div>

    <!-- {% include "partials/notification.html" %}

    <script>
      var notificationEl = document.getElementById("notification");
      function displayNotification() {
        notificationEl.style.display = "block";
      }
      function hideNotification() {
        notificationEl.style.display = "none";
      }
      notificationEl.querySelector('button[aria-label="Close"]').onclick =
        hideNotification;
      var existingNotification = localStorage.getItem("eventNotification");
      // if is date and date longer than 24 hrs ago, display notification and set date
      if (existingNotification) {
        var oneDayPastOldDate = parseInt(existingNotification) + 3600000;
        var presentDate = Date.now();
        if (presentDate > oneDayPastOldDate) {
          // 24 hrs in milliseconds
          localStorage.setItem("eventNotification", Date.now());
          displayNotification();
        }
      } else {
        localStorage.setItem("eventNotification", Date.now());
        displayNotification();
      }
    </script> -->
  </body>
</html>
