<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <title>Help Tibetan Nuns | Events</title>

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css?family=Langar|Open+Sans:400,800|Merriweather:wght@900&display=swap"
            rel="stylesheet"
        />
        <link href="../css/all.min.css" rel="stylesheet" />
        <!-- https://fontawesome.com/ -->
        <link href="../slick/slick.css" rel="stylesheet" />
        <!-- https://kenwheeler.github.io/slick/ -->
        <link href="../slick/slick-theme.css" rel="stylesheet" />
        <link href="../css/bootstrap.min.css" rel="stylesheet" />
        <!-- https://getbootstrap.com -->
        <link href="../css/templatemo-new-vision.css" rel="stylesheet" />

        <style>
            img {
                margin-bottom: 60px;
            }

            p {
                margin: 10px 0;
            }
        </style>
    </head>

    <body>
        <!-- Page Header -->
        <div class="container-fluid">
            <div class="tm-site-header">
                <form
                    action="https://www.paypal.com/donate"
                    method="post"
                    target="_top"
                    id="donate-btn-form-widescreen"
                >
                    <input
                        type="hidden"
                        name="hosted_button_id"
                        value="72MBFD3XEAHJY"
                    />
                    <button
                        class="paypal-btn big"
                        border="0"
                        name="submit"
                        title="PayPal - The safer, easier way to pay online!"
                        alt="Donate with PayPal button"
                    >
                        Donate
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 167.6 166.6"
                            class="paypal-btn-link-svg"
                        >
                            <g
                                fill="none"
                                stroke="var(--dark-text)"
                                stroke-width="20"
                                stroke-linecap="round"
                            >
                                <path
                                    d="M132.5 80.3v54.4c0 12.1-9.8 22-22 22H32c-12.1 0-21.9-9.9-21.9-22V56a22 22 0 0122-22h54.8"
                                />
                                <path
                                    d="M71.7 96.2L136.2 32l21.4-22M157.6 10h-46.3M157.6 10v46.3"
                                />
                            </g>
                        </svg>
                    </button>
                </form>
                <div class="row">
                    <div class="col-12 tm-site-header-col">
                        <div class="tm-site-header-left">
                            <h1 class="tm-site-name">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 480 53"
                                    style="max-width: 480px"
                                    fill="var(--dark-text)"
                                >
                                    <text x="5" y="40" style="font-size: 44px">
                                        Help Tibetan Nuns, Inc.
                                    </text>
                                </svg>
                            </h1>
                            <div role="doc-subtitle">
                                Supporting Tibetan Buddhist Nuns of the
                                Himalayan Region
                            </div>
                        </div>

                        <img
                            class="header-painted-wood"
                            src="../media/painted-wood-cropped-4.png"
                            alt=""
                        />

                        <!--Navbar-->
                        <nav class="navbar navbar-expand-lg">
                            <!-- Collapse Button -->
                            <button
                                class="navbar-toggler toggler-example"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent1"
                                aria-controls="navbarSupportedContent1"
                                aria-expanded="false"
                                aria-label="Toggle navigation"
                            >
                                <span class="dark-blue-text"
                                    ><i class="fas fa-bars fa-1x"></i
                                ></span>
                            </button>

                            <!-- Collapsible Content -->
                            <div
                                class="collapse navbar-collapse tm-nav"
                                id="navbarSupportedContent1"
                                style="justify-content: center"
                            >
                                <!-- Links -->
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a
                                            class="nav-link tm-nav-link"
                                            href="../index.html"
                                            >Home</a
                                        >
                                    </li>
                                    <li class="nav-item">
                                        <a
                                            class="nav-link tm-nav-link"
                                            href="../about/index.html"
                                            >About</a
                                        >
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a
                                            class="
                                                nav-link
                                                dropdown-toggle
                                                tm-nav-link
                                            "
                                            href="#"
                                            data-toggle="dropdown"
                                            href="#"
                                            role="button"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            Nunneries
                                        </a>
                                        <div class="dropdown-menu">
                                            <a
                                                class="dropdown-item"
                                                href="../nunneries/thrangu.html"
                                            >
                                                Thrangu Kong Jo Sherab Ling
                                            </a>
                                            <a
                                                class="dropdown-item"
                                                href="../nunneries/tilokpur.html"
                                            >
                                                Tilokpur
                                            </a>
                                            <a
                                                class="dropdown-item"
                                                href="../nunneries/palchen-chosling-lachi.html"
                                            >
                                                Palchen Chosling Lachi
                                            </a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a
                                            class="
                                                nav-link
                                                dropdown-toggle
                                                tm-nav-link
                                            "
                                            href="#"
                                            data-toggle="dropdown"
                                            href="#"
                                            role="button"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            Sponsor a Nun
                                        </a>
                                        <div class="dropdown-menu">
                                            <a
                                                class="dropdown-item"
                                                href="../help/sponsor.html"
                                            >
                                                Sponsoring Nuns
                                            </a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a
                                            class="
                                                nav-link
                                                dropdown-toggle
                                                tm-nav-link
                                            "
                                            href="#"
                                            data-toggle="dropdown"
                                            href="#"
                                            role="button"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            News
                                        </a>
                                        <div class="dropdown-menu">
                                            <a
                                                class="dropdown-item"
                                                href="../blog/index.html"
                                            >
                                                Blog
                                            </a>
                                            <a
                                                class="dropdown-item"
                                                href="../news/gallery.html"
                                            >
                                                Gallery
                                            </a>
                                            <a
                                                class="dropdown-item"
                                                href="../news/events.html"
                                            >
                                                Events
                                            </a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                            class="nav-link tm-nav-link"
                                            href="../contact.html"
                                            >Contact</a
                                        >
                                    </li>
                                </ul>
                            </div>

                            <form
                                action="https://www.paypal.com/donate"
                                method="post"
                                target="_top"
                                id="donate-btn-form-smallscreen"
                            >
                                <input
                                    type="hidden"
                                    name="hosted_button_id"
                                    value="72MBFD3XEAHJY"
                                />
                                <button
                                    class="paypal-btn big"
                                    border="0"
                                    name="submit"
                                    title="PayPal - The safer, easier way to pay online!"
                                    alt="Donate with PayPal button"
                                >
                                    Donate
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 167.6 166.6"
                                        class="paypal-btn-link-svg"
                                    >
                                        <g
                                            fill="none"
                                            stroke="var(--dark-text)"
                                            stroke-width="20"
                                            stroke-linecap="round"
                                        >
                                            <path
                                                d="M132.5 80.3v54.4c0 12.1-9.8 22-22 22H32c-12.1 0-21.9-9.9-21.9-22V56a22 22 0 0122-22h54.8"
                                            />
                                            <path
                                                d="M71.7 96.2L136.2 32l21.4-22M157.6 10h-46.3M157.6 10v46.3"
                                            />
                                        </g>
                                    </svg>
                                </button>
                            </form>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Main -->
            <main>
                <!-- Welcome section -->
                <section class="tm-welcome">
                    <div class="row">
                        <div class="col-12" style="text-align: center">
                            <h2 class="tm-section-header">Events</h2>
                        </div>
                    </div>

                    <div class="row tm-welcome-row">
                        <div class="tm-about"><%- eventsInfoHtml %></div>
                    </div>
                </section>
            </main>
            <footer>
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup" style="margin-top: 35px">
                    <form
                        action="https://helptibetannuns.us2.list-manage.com/subscribe/post?u=c5b29e56ffa0eb7f4fdf5bed1&amp;id=a56a72b9b6"
                        method="post"
                        id="mc-embedded-subscribe-form"
                        name="mc-embedded-subscribe-form"
                        class="validate"
                        target="_blank"
                        novalidate
                    >
                        <div id="mc_embed_signup_scroll">
                            <h2>Sign up for our email list</h2>
                            <div class="mc-input-container">
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL"
                                        >Email Address
                                    </label>
                                    <input
                                        type="email"
                                        value=""
                                        name="EMAIL"
                                        class="required email"
                                        id="mce-EMAIL"
                                    />
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-FNAME">First Name </label>
                                    <input
                                        type="text"
                                        value=""
                                        name="FNAME"
                                        class=""
                                        id="mce-FNAME"
                                    />
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-LNAME">Last Name </label>
                                    <input
                                        type="text"
                                        value=""
                                        name="LNAME"
                                        class=""
                                        id="mce-LNAME"
                                    />
                                </div>
                            </div>
                            <div id="mce-responses" class="clear">
                                <div
                                    class="response"
                                    id="mce-error-response"
                                    style="display: none"
                                ></div>
                                <div
                                    class="response"
                                    id="mce-success-response"
                                    style="display: none"
                                ></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div
                                style="position: absolute; left: -5000px"
                                aria-hidden="true"
                            >
                                <input
                                    type="text"
                                    name="b_c5b29e56ffa0eb7f4fdf5bed1_a56a72b9b6"
                                    tabindex="-1"
                                    value=""
                                />
                            </div>
                            <div class="clear" id="mc-submit">
                                <input
                                    type="submit"
                                    value="Subscribe"
                                    name="subscribe"
                                    id="mc-embedded-subscribe"
                                    class="button"
                                />
                            </div>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
                <img
                    id="footer-painted-wood"
                    src="../media/painted-wood-cropped-3.png"
                    alt=""
                />

                <p>
                    Copyright &copy; 2020 New Vision - Design:
                    <a
                        href="https://templatemo.com"
                        rel="sponsored"
                        target="_parent"
                        title="css templates"
                        >TemplateMo</a
                    >
                </p>
            </footer>
        </div>

        <script src="../js/jquery-3.4.1.min.js"></script>
        <script src="../slick/slick.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/templatemo-script.js"></script>
    </body>
</html>
