<form
    action="https://www.paypal.com/donate"
    method="post"
    target="_top"
    id="donate-btn-smallscreen"
>
    <input type="hidden" name="hosted_button_id" value="72MBFD3XEAHJY" />
    <button
        class="paypal-btn big"
        border="0"
        name="submit"
        title="PayPal - The safer, easier way to pay online!"
        alt="Donate with PayPal button"
    >
        Donate
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 167.6 166.6"
            class="paypal-btn-link-svg"
        >
            <g
                fill="none"
                stroke="var(--dark-text)"
                stroke-width="20"
                stroke-linecap="round"
            >
                <path
                    d="M132.5 80.3v54.4c0 12.1-9.8 22-22 22H32c-12.1 0-21.9-9.9-21.9-22V56a22 22 0 0122-22h54.8"
                />
                <path
                    d="M71.7 96.2L136.2 32l21.4-22M157.6 10h-46.3M157.6 10v46.3"
                />
            </g>
        </svg>
    </button>
</form>
